@model List<CityViewModel>
@{
    int i = 1;
}

<a class="btn btn-success"  role="button" asp-controller="City" asp-action="Add">Yeni</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Durumu</th>
            <th scope="col">İşlemer</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (CityViewModel city in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@city.Name</td>
                    <td>@city.Status</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Şehir işlemleri Düzenle,Detay,Sil">
                            <a asp-controller="City" asp-action="Edit" asp-route-id="@city.Id" role="button" class="btn btn-warning" aria-label="Şehir Düzenle">Düzenle</a>
                            <a asp-controller="City" asp-action="Detail" asp-route-id="@city.Id" role="button" class="btn btn-primary" aria-label="Şehir Detay">Detay</a>
                            <a asp-controller="City" asp-action="Remove" asp-route-id="@city.Id" role="button" class="btn btn-danger" aria-label="Şehir Sil">Sil</a>
                        </div>
                    </td>
                    
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <p class="text-muted text-center">Liste boş</p>
                </td>
            </tr>
        }
    </tbody>
</table>
